basetemplate/.metadata/
basetemplate/.recommenders/
basetemplate/deploy/
bin/
*.class
*.class
*.log
basetemplate/ManagerServer/.classpath
basetemplate/ManagerServer/.settings/org.eclipse.wst.common.project.facet.core.xml
basetemplate/ManagerServer/.classpath
basetemplate/ManagerServer/.settings/org.eclipse.wst.common.project.facet.core.xml
